@model THDShop.ViewModel.Category.CreateCategoryInput

@{
    ViewBag.Title = "Create";
}

<head>
    <link href="~/form/css/StyleSheet.css" rel="stylesheet" />
</head>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Tạo Thương Hiệu</h1>
</div>

@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div style="display: flex; align-items: flex-start;">
        <div class="text-center-box">
            <div class="paddingtop rl" style="padding-bottom: 20px;">
                <div class="form">
                    <!-- Tên -->
                    <div class="form-group">
                        @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { placeholder = "Tên Thương Hiệu" } })
                        @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    <input class="btn btn-success" type="submit" value="Create" />
                    <span class="btn btn-link">@Html.ActionLink("Quay về", "Index") </span>
                </div>
            </div>
        </div>
    </div>
}
