@{
    ViewBag.Title = "CheckOutSuccess";
}
<head>
    <link href="~/Assets/css/checkout.css" rel="stylesheet" />
    <link href="~/Assets/css/use.css" rel="stylesheet" />
    <link href="~/Assets/css/GioHang.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="font_asap">
    <div class="title">
        <div class="sh-table-cell">
            Shop
        </div>
        <div class="title2 sh-table-cell">
            <span class="title2-all">
                <a href="/Home">Home</a>
            </span>
            <span class="title2-all title2-cart"> > </span>
            <span class="title2-all title2-cart">Thanh Toán</span>
        </div>
    </div>
    <div class="shopping-cart">
        <div class="padding">
            <div class="giohang1">
                <div class="giohang2both">
                    Giỏ Hàng
                </div>
                <div class="giohang2both">
                    Thanh Toán
                </div>
                <div class="giohang2 giohang2both">
                    Thành Công
                </div>
            </div>
        </div>
        <div class="padding-table">
            <h3 style="font-size: 24px; font-weight: 800;text-align:center;">Khách Đã Đặt Sản Phẩm Thành Công . Quý Khách Vui Lòng Đợi Vài Phút Để Bên Nhân Viên Gọi Chốt Đơn Hàng</h3>
            <h4 style="font-size: 20px; font-weight: 600;text-align:center;">
                Nếu Quý Khách Muốn Tiếp Tục Mua Thêm Sản Phẩm . Hãy Chọn Vào Đây.
            </h4>
            <div style="text-align:center;padding-bottom:60px;">
                <a href="/Home/">
                    <input class="Update" type="submit" value="Quay Về Trang Chủ" />
                </a>
            </div>
        </div>
    </div>
</div>
