@{
    ViewBag.Title = "CheckOutSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Assets/css/fixscss.css" rel="stylesheet" />
}

<div class="main-content space1">
    <div class="container container-240">
        <ul class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li class="active">Giỏ hàng</li>
            <li class="active">Thanh toán</li>
        </ul>
        <div style="" class="co-coupon">
            THANH TOÁN THÀNH CÔNG
        </div>
        <form name="checkout" method="post" class="co">
            <div class="cart-box-container-ver2">

                <div class="row">
                    <div class="padding-table">
                        <h3 style="font-size: 24px; font-weight: 800;text-align:center;">Khách Đã Đặt Sản Phẩm Thành Công . Quý Khách Vui Lòng Đợi Vài Phút Để Bên Nhân Viên Gọi Chốt Đơn Hàng</h3>
                        <h4  style=" padding-top:20px;font-size: 20px; font-weight: 600;text-align:center;">
                            Nếu Quý Khách Muốn Tiếp Tục Mua Thêm Sản Phẩm . Hãy Chọn Vào Đây.
                        </h4>
                        <div style="padding-top:20px;text-align: center;">
                            <a href="@Url.Action("Index","HomePage")">
                                <input type="submit" style="border-radius: 20px; text-align: center; border-width: 0px; background-image: linear-gradient( 122deg, #fb3636, #00ae96) !important; width: 200px; height: 40px; color: WHITE;"  value="Trang Chủ" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>