
@{
    Layout = null;
}
<head>
    <link href="~/Assets/css/GioHang.css" rel="stylesheet" />
</head>
<div class="shopping-cart">
    <div class="padding">
        <div class="giohang1">
            <div class="giohang2both">
                Giỏ Hàng
            </div>
            <div class="giohang2 giohang2both">
                Chọn Phương Thức
            </div>
            <div class="giohang2both">
                Thanh Toán
            </div>
            <div class="giohang2both">
                Thành Công
            </div>
        </div>
    </div>
    <div class="padding-table">
        <div style="text-align:center;padding-bottom:20px;">
            <a href="/Cart/DeliveryForm">
                <input style="padding-left: 120px; padding-right: 120px;" class="Update" type="submit" value="Thanh Toán Bằng Tiền Mặt" />
            </a>
        </div>
        <div style="text-align:center;padding-bottom:60px;">
            <a href="/Cart/DeliveryFormPayPal">
                <input style="padding-left: 125px; padding-right: 125px;" class="Update" type="submit" value="Thanh Toán Bằng PayPal" />
            </a>
        </div>
    </div>
</div>
